<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if(User.Identity.IsAuthenticated && ViewBag.CurrentUser != null)
    {
        <header>
            <div class="current-user"><img src="@ViewBag.CurrentUser.AvatarUrl" /><span>@ViewBag.CurrentUser.Name</span></div>
        </header>      
    }
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
